<div class="parent">
  <div class="div1 container"> 
  
            <form>
              <div class="mb-3">
                <h4 class="text-dark ">Inscription</h4>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Télephone</label>
                <input type="email" class="form-control" name="telephone" [(ngModel)]="email" placeholder="telephone" style="width: 430px;">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="email" style="width: 430px;">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="mot de passe" style="width: 430px;">
              </div>
              <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmez le mot de passe</label>
                <input type="password" class="form-control" name="confrim_password" [(ngModel)]="password" placeholder="confirmez le mot de passe" style="width: 430px;">
              </div>
              <button type="button" class="btn " (click)="register()">Inscrivez-vous</button>
              <div class="row">
                <div class="col-md-6">
                  <a href="/login" >Vous avez  déja un compte  ? <span class="text-danger">Connectez-vous</span></a>
                </div>
              </div>
            </form>       
   
  </div>
  <div class="div2"> </div>
  </div>



