<app-sidebar></app-sidebar>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 mt-2">
      <h2 id="page-heading">
        <span>List of entrepot </span>
        <button class="btn btn-primary float-right" [routerLink]="['/new']">
          <span>Create</span>
        </button>
      </h2>      <div class="card p-3 shadow">
        <div class="card-body">
          <ngx-datatable class="bootstrap" [rows]="entrepot" [columnMode]="'force'"
                         [headerHeight]="50" [rowHeight]="'auto'" [footerHeight]="50" [limit]="10">
            <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>
            <ngx-datatable-column name="Capacity" prop="capacity"></ngx-datatable-column>
            <ngx-datatable-column name="Stock" prop="stock"></ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-row="row">
                <button class="btn btn-outline-danger" (click)="goToEntrepotDetails(row.id)">Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteEntrepot(row)">Delete</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>

  </div>

</div>
