<app-sidebar></app-sidebar>
<br><br>
<section class="container mt-5">
  <div class="row ">
    <div class="col-12">
      <div class="content-header">
        <h3 class="card-title" *ngIf="isEditMode">Modifier l'entrepot {{ entrepot.name }}</h3>
        <h3 class="card-title" *ngIf="!isEditMode">Créer un nouvel entrepot </h3>
      </div>
    </div>
  </div>
  <!-- Account Settings starts -->
  <div class="row mb-5">
    <!-- <div class="col-md-3 mt-3 mb-5"> -->
      <!-- Nav tabs -->
      <!-- <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="btn bg-marron" href="javascript:;" [ngClass]="{active: activeTab === 'general'}"
            (click)="setActiveTab('general')" id="general-tab" data-toggle="tab" role="tab" aria-controls="general"
            aria-selected="true">
            <button class=" btn align-middle">General</button> 
          </a>
        </li>
      </ul>
    </div> -->

    <div class="col-md-12">
      <!-- Tab panes -->
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="tab-content">
              <!-- General Tab -->
              <div class="tab-pane" [ngClass]="{active: activeTab === 'general'}" id="general" role="tabpanel"
                aria-labelledby="general-tab">
                <hr class="mt-1 mt-sm-2">
                <form [formGroup]="entrepotForm" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                    <div class="form-group col-md-12 d-flex px-3">
                      <div class="col-md-6">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom"
                          required style="width: 430px;">
                      </div>
                      <div class="col-md-6">
                        <label for="address">Addresse</label>
                        <input formControlName="address" type="text" class="form-control" id="address"
                          placeholder="Addresse" style="width: 430px;" required>
                      </div>

                    </div>
                    <div class="form-group col-md-12 d-flex px-3">
                      <div class="form-group col-md-6">
                        <label for="capacity">Capacité</label>
                        <input formControlName="capacity" type="text" class="form-control" id="capacity"
                          placeholder="Capacité" style="width: 430px;" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="stock">Stock</label>
                        <input formControlName="stock" type="text" class="form-control" id="stock" placeholder="Stock"
                          style="width: 430px;" required>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                      <button type="reset" class="btn btn-danger mb-1" (click)="previousState()">Annuler</button>
                      <button type="submit" class="btn btn-success mb-1">Enregistrer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Account Settings ends -->
</section>