<div class="row">
  <div class="col-12">
    <div class="content-header">
      <h3 class="card-title" *ngIf="isEditMode">Modify the entrepot {{ entrepot.name}}</h3>
      <h3 class="card-title" *ngIf="!isEditMode">Create a new entrepot</h3>
    </div>
  </div>
</div>
<!-- Account Settings starts -->
<div class="row">
  <div class="col-md-3 mt-3">
    <!-- Nav tabs -->
    <ul class="nav flex-column nav-pills" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" [ngClass]="{active: activeTab === 'general'}"
           (click)="setActiveTab('general')" id="general-tab" data-toggle="tab" role="tab" aria-controls="general"
           aria-selected="true">
          <i class="ft-settings mr-1 align-middle"></i>
          <span class="align-middle">General</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <!-- Tab panes -->
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="tab-content">
            <!-- General Tab -->
            <div class="tab-pane" [ngClass]="{active: activeTab === 'general'}" id="general" role="tabpanel"
                 aria-labelledby="general-tab">
              <hr class="mt-1 mt-sm-2">
              <form [formGroup]="entrepotForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12 form-group">
                    <label for="name">Name</label>
                    <div class="controls">
                      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name"
                             required>
                    </div>
                  </div>

                  <div class="col-12 form-group">
                    <label for="address">address</label>
                    <div class="controls">
                      <input formControlName="address" type="text" class="form-control" id="address"
                             placeholder="address"
                             required>
                    </div>
                  </div>

                  <div class="col-12 form-group">
                    <label for="capacity">capacity</label>
                    <div class="controls">
                      <input formControlName="capacity" type="text" class="form-control" id="capacity"
                             placeholder="capacity"
                             required>
                    </div>
                  </div>

                  <div class="col-12 form-group">
                    <label for="stock">stock</label>
                    <div class="controls">
                      <input formControlName="stock" type="text" class="form-control" id="stock"
                             placeholder="stock"
                             required>
                    </div>
                  </div>


                  <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                    <button type="submit" class="btn btn-primary mr-sm-2 mb-1">Save</button>
                    <button type="reset" class="btn btn-secondary mb-1" (click)="previousState()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Account Settings ends -->
